body {
    font-family: 'Roboto', sans-serif;
    background-size: contain !important;
    background-attachment: fixed !important;
}

#rightCol {
    display: none;
}

#contentArea {
    float: none !important;
    width: 100% !important;
    right: 0;
}

#leftCol {
    display: none !important;
}

#contentCol {
    background: rgba(0, 0, 0, 0) !important;
    width: 100% !important;
}
#pagelet_composer {
    box-shadow: 0px 10px 20px -5px black;
}

/*._4ikz ._5pat:last-child {
    width: 100%;
}*/
._4ikz ._5pat:last-child > div:first-child {
    max-height: none !important;
}

 #substream_0, #substream_1 {
     display: inline-block;
     width: 50%;
 }
 #substream_0 ._5pat, #substream_1 ._5pat {
     width: 100%;
 }

.fbChatSidebar {
    background: transparent;
}

/*parent post is here*/
._4ikz > div > div > div {
    display: flex;
    flex-flow: row wrap;
}
._4lh .fbTimelineTimePeriod {
    background-color: transparent !important;
}


 /*post in here*/
._5pat {
    display: inline-block;
    margin: auto;
    width: 50%;
    min-width: 500px;
    background: transparent;
}

._5pat > div:first-child {
    margin: 2em 1em 2em 0px;

    overflow: hidden;
    max-height: 100vh;

    border-radius: 0px;
    background-image: url("http://images.naldzgraphics.net/2013/06/30-thirty-WHITE-PAINTED.jpg");
    box-shadow: 0px 20px 25px -10px black;

    transition: 0.5s;
}

._5pat > div:first-child:hover {
    z-index: 10;
    overflow: auto;
}

/*background of post inside a post*/

.mtm a, .mtm>div {
    margin: 0 auto;
}

.uiScaledImageContainer {
}

.fwb {
    font-size: 1.5em;
}

/*display of liked people*/
._1g5v+._4arz, ._ipo {
    color: black;
    font-weight: bold;
    font-size: 1.25em;
    background-color: transparent;
}

/*this is avatar in the sidebar*/
._42fz img, ._4ld- img {
    border-radius: 100%;
    box-shadow: 0px 5px 10px black;
    border: 5px solid #fff;
    box-sizing: border-box;
}

/*name of the person in the sidebar*/
._55lr, ._364g {
    height: 50px;
    line-height: 50px;
    font-weight: bold;
    font-size: 1.25em;
    text-shadow: 0px 2px 5px black;
}

._55lp::after {
    content: "";
    display: table;
    clear: both;
}

._55ln {
    height: auto;
    color: #fff;
}

._55lq, ._55lq>div, ._55lq img {
    width: 50px !important;
    height: 50px !important;
}

._55lq::after {
    border: none;
}
::-webkit-scrollbar {
    width: 0.5em;
    height: 0.5em;
    background-color: #111;
    border-radius: 1em;
}
::-webkit-scrollbar:hover {
    width: 1em;
    height: 1em;
}
::-webkit-scrollbar-track {
    background-color: rgba(0,0,0,0);
}
::-webkit-scrollbar-thumb {
    background-color: #558;
    border-radius: 1em;
}
::-webkit-resizer,
::-webkit-scrollbar-button,
::-webkit-scrollbar-corner {display:none}
