body {
    font-family: 'Roboto', sans-serif;
    background-image: linear-gradient(to top right, #800, #008);
}

#rightCol {
    display: none;
}

#contentArea {
    float: none !important;
    width: 100% !important;
    right: 0;
}

#leftCol {
    display: none !important;
}

#contentCol {
    background: rgba(0, 0, 0, 0) !important;
    width: 100% !important;
}

._4ikz ._5pat:last-child {
    width: 100%;
}
._4ikz ._5pat:last-child > div:first-child {
    max-height: none !important;
}

 #substream_0, #substream_1 {
     display: inline-block;
     width: 50%;
 }
 #substream_0 ._5pat, #substream_1 ._5pat {
     width: 100%;
 }
._5pat {
    display: inline-block;
    width: 50%;
    min-width: 300px;
    background: none;
}
#contentCol ._5pat:nth-child(2n)::after {
    content: "";
    display: block;
    clear: both;
}

._5pat > div:first-child {
    margin: 5px;

    overflow: hidden;
    max-height: 400px;

    border-top: 20px solid #3f3fdf !important;
    border-radius: 10px;
    background: #fff;
    transition: 0.5s;
}

._5pat:hover > div:first-child {
    z-index: 10;
    overflow: auto;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
}

.mtm a, .mtm>div {
    margin: 0 auto;
}

.uiScaledImageContainer {
}

.fwb {
    font-size: 1.5em;
}

._42fz img {
    border-radius: 100%;
    box-shadow: 0px 2px 2px black;
    border: 5px solid #fff;
    box-sizing: border-box;
}

._55lp::after {
    content: "";
    display: table;
    clear: both;
}

._55ln {
    height: auto;
}

._55lq, ._55lq>div, ._55lq img {
    width: 50px !important;
    height: 50px !important;
}

._55lq::after {
    border: none;
}
::-webkit-scrollbar {
    width: 0.5em;
    height: 0.5em;
    background-color: #ccc;
    border-radius: 1em;
}
::-webkit-scrollbar:hover {
    width: 1em;
    height: 1em;
}
::-webkit-scrollbar-track {
    background-color: rgba(0,0,0,0);
}
::-webkit-scrollbar-thumb {
    background-color: #558;
    border-radius: 1em;
}
::-webkit-resizer,
::-webkit-scrollbar-button,
::-webkit-scrollbar-corner {display:none}
